<h4><storong>Title:</storong></h4>
  <p><% @book.title %></p>
  
 <h4><storong>Body:</storong></h4>
  <p><% @book.body %></p>

 

 
 <%= link_to "Edit", edit_book_path %>
  <%= link_to "Back", books_path %>